:host {
  .post-card-wrapper {
    //width: 20rem;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      transform: translateY(-8px);
      box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
    }
  }
}
