<div *ngIf="post" [(ngModel)]="post" ngDefaultControl>
  <a class="thumbnail">
    <div>
      <img [src]="post.thumbnail" />
    </div>
  </a>
  <div class="content">
    <div class="title">
      <h4>{{ post.title }}</h4>
    </div>
    <div class="body">
      <p>{{ getShorteningContent(post.content) }}</p>
    </div>
    <div class="sub-info">
      <span>{{ post.createdAt | date: 'yyyy년 MM월 dd일' }}</span>
      <span class="separator">·</span>
      <span>{{ post.comments.length }}개의 댓글</span>
    </div>
  </div>
  <div class="footer">
    <div class="userinfo">
      <img [src]="post.user.thumbnail" />
      <span>
        by
        <b>{{ post.user.name }}</b>
      </span>
    </div>
    <div class="likes"><i nz-icon nzType="heart" nzTheme="fill"></i>{{ post.user.likes }}</div>
  </div>
</div>
