<!--menus-->
<div class="menus">
  <div class="item selectable-box active"><i nz-icon nzType="rise" nzTheme="outline"></i>트렌딩</div>
  <div class="item selectable-box"><i nz-icon nzType="clock-circle" nzTheme="outline"></i>최신</div>
  <div class="item">
    <nz-select [(ngModel)]="selectedPeriod">
      <nz-option *ngFor="let period of periodTypes" [nzValue]="period.value" [nzLabel]="period.label"></nz-option>
    </nz-select>
  </div>
</div>

<!--post-list-->
<div class="list-box">
  <div class="post-list">
    <app-post [post]="post" *ngFor="let post of posts" (click)="goToPostDetail(post)"></app-post>
  </div>
</div>
